
<div style="max-width: 80vw; margin: 0 auto;">
  <h1 style="margin-top: 64px">Add compromised account</h1>
  <%= render 'form', account: @account %>
  <div style="margin-top: 24px;">
      <%= link_to 'Back', accounts_path %>
  </div>
</div>
