<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @account.address %>
</p>
<p>
  <strong>Date added:</strong>
  <%= @account.created_at %>
</p>
<%= link_to 'Back', accounts_path %>
